.topnav {
  background-color: rgb(86, 101, 185);
  overflow: hidden;
} 

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: left;
  padding: 15px 15px;
  font-size: 17px;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  text-align: left;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
} 


.topnav a:hover {
  background-color: #f5f8fa;
  color: black;
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    display: block;
    text-align: left;
    width: 100%;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.img {
  width: 33.33%;
  padding: 5px;
}

:root {
  --gutter: 30px;
}

.main {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.main > * {
  grid-column: 2 / -2;
}

.main > .full {
  grid-column: 1 / -1;
}

.button{
  text-align: center;
  background-color: #97d2fa;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns:5px;
  grid-template-rows: minmax(200px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(30% - var(--gutter) * 2);
  height: 500px;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
  width: 100%;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background: #b2daf5;
}

ul {
  list-style: none;
  padding: 0;
}

h1{
  margin: 0;
  text-align: center;
  background-color: #ebec9e; 
  height: 100%;
  width: 90%; 
}
h2,
h3 {
  margin: 0;
}

.main {
  width: 100%;
  height: 100%;
  background: #dfe6fd;
  overflow-y: scroll;
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 2);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
  background: #fff;
  border-radius: 8px;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* login form*/
.order {
  display:flex;
  justify-content: space-around;
  margin:1em;
}
.login-form {
  padding: 2em;
}
.login-button {
  background-color: lightblue;
}
